body h1 {
  background-color: orange;
  width: 12rem;
  text-align: center;
  border-radius: 1rem;
  position: relative;
  left: 1.5rem;
}

h1:hover {
  background-color: blueviolet;
  cursor: pointer;
}

.dropdown {
  color: bisque;
  display: inline-block;
}

.dropdown-content {
  display: none;
}

.dropdown:hover .dropdown-content {
  display: block;
  top: 2.4rem;
}

.head-2:hover {
  color: aquamarine;
}

.dropdown .dropdown-image {
  display: none;
}

.dropdown-content:hover .dropdown-image {
  display: block;
}

.dropdown-image img {
  border-radius: 1rem;
  width: 15rem;
}

.container {
  position: relative;
  border: 1px solid black;
  background-color: rgb(255, 0, 0);
  width: 15rem;
  border-radius: 1rem;
  padding: 1rem;
  border-style: none;
  top: 17rem;
  left: 40rem;
}

header {
  text-align: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 5ch;
  color: aliceblue;
}

.head-2 {
  color: bisque;
}
